.field{
  width:200px;
  height:20px;
  background-color: #99b1ff;
  padding:4px;
  overflow:hidden;
  text-align:right;
}
.btn-row{
  margin-top:5px;
}
button{
  width:100%;
  height:45px;
}
.calc-btn{
  display:inline-block;
  width:50px;
}

.calc-btn-lg {
	display:inline-block;
	width:104px;
}
