a,a:link,a:visited {
	text-decoration:none;
	color:green;
}

p,span a:hover {
	text-decoration:none;
}

span a:focus,a:active{
	text-decoration:none;
}

div {
	text-align: center;
	/*border-style:solid; 
	border-width:1px;
	*/
}

 .wrapper {
width:450px;
margin: auto;
 }

.clock {
	 min-height:150px;
	 font-size:900%;
	 font-weight:bold;
 }

 .adjuster {
	 display: inline; 
	 font-size:25pt;
 }

 .timer,.break {
	 display: inline-block;
	 width: 350px;
 }

 .controls {
	 padding:0;
 }
